#texto-main-classes {
    margin-top: 11%;
    font-size: 51px;
}

#cota-text {
    color: #ffffff;
    font-family: 'alata';
    text-align: center;
}

#bloco-unidades {
    top: 478px;
}